##Struktur Data Tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahakan dengan koma.

In [1]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [2]:
#Menampilkan tipe struktur data
type(T1)

tuple

Latihan

In [10]:
#Buatlah tuplemu sendiri
BG = ("2PM","Suju","EXO","NCT")
print("ini adalah boy group dari SM",BG)
type(BG)

ini adalah boy group dari SM ('2PM', 'Suju', 'EXO', 'NCT')

tuple

Sifat-sifat Tuple

In [4]:
#Terurut/Ordered
T1[0:3]

(1, 'dua', True)

In [5]:
#Tidak Bisa Diganti/Immutable
T1[2] = "manusia"

TypeError: ignored

In [6]:
#Dapat Diindeks/Slicing
print("elemen kedua dari tuple T1 adalah:", T1[1])

elemen kedua dari tuple T1 adalah: dua

In [7]:
#Dapat Diijinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

Menggabungkan tuple

In [8]:
# Menggabungkan Tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

Latihan 2

In [11]:
#Buatlah tuple kedua lalu gabungkan 2 tuple yang telah kamu buat
GG = ("SNSD","Fx","Red velvet","Aespa")
print("ini adalah girl gruop dari SM",GG)
print("-"*20)

#Gabungkan 2 tuple
SM = BG + GG
print(SM)

ini adalah girl gruop dari SM ('SNSD', 'Fx', 'Red velvet', 'Aespa')
--------------------
('2PM', 'Suju', 'EXO', 'NCT', 'SNSD', 'Fx', 'Red velvet', 'Aespa')