##Konversi Struktur Data

Fungsi untuk mengubah/konversi struktur data :

a.   `list()` : untuk mengubah menjadi list

b.   `tuple()` : untuk mengubah menjadi tuple

c.   `set()` : untuk mengubah menjadi set

d.   `dict()` : untuk mengubah menjadi dictonary

###Mengkonversi tipe data list :

In [6]:
# membuat 2 list
L1 = [1, 2, 3, 4]
L2 = [5, 6, 7, 8]

In [7]:
# Mengkonversi struktur data list
k_tuple = tuple(L1)
k_set = set(L1)
k_dict = dict(zip(L1, L2))

# Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{1, 2, 3, 4}
{1: 5, 2: 6, 3: 7, 4: 8}

###Mengkonversi tipe data tuple :

In [8]:
# Membuat dua tuple
T1 = (1, 2, 3, 4)
T2 = (5, 6, 7, 8)

In [9]:
# Mengkonversi struktur data tuple
k_list = list(T1)
k_set = set(T1)
k_dict = dict(zip(T1, T2))

# Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{1, 2, 3, 4}
{1: 5, 2: 6, 3: 7, 4: 8}

###Mengkonversi tipe data set :

In [10]:
# Membuat dua set
S1 = {1, 2, 3, 4}
S2 = {5, 6, 7, 8}

In [ ]:
# Mengkonversi struktur data set
k_list = list(S1)
k_tuple = tuple(S1)
k_dict = dict(zip(S1, S2))

# Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

###Mengkonversi tipe data list

In [11]:
# Membuat dictionary
D = {
    "nama" : "Andi",
    "alamat" : "Yogyakarta",
    "umur" : 20
}

In [12]:
# Mengkonversi struktur data dictionary dari key dan value-nya
k_list = list(D.keys())
k_tuple = tuple(D.values())
k_set = set(D.keys())

# Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'Yogyakarta', 20)
{'nama', 'alamat', 'umur'}

###Latihan

In [ ]:
# Lakukan konversi struktur data yang kalian buat pada notebook-notebook
# sebelumnya menjadi list, tuple, set, dan dictionary (masing-masing satu)

In [13]:
# Struktur data list
MOTS7 = ["ON","Black Swan","Lounder Than Bombs","WAB:the Enternal"]
Persona = ["Boy With Luv","Dionysus","Mikrokosmos","Home","Make it Right"]

In [14]:
# Mengkonversi struktur data list
k_tuple = tuple(MOTS7)
k_set = set(MOTS7)
k_dict = dict(zip(MOTS7, Persona))

# Melihat data yang telah dikonversi
print(k_tuple)
print(k_set)
print(k_dict)

('ON', 'Black Swan', 'Lounder Than Bombs', 'WAB:the Enternal')
{'Lounder Than Bombs', 'ON', 'WAB:the Enternal', 'Black Swan'}
{'ON': 'Boy With Luv', 'Black Swan': 'Dionysus', 'Lounder Than Bombs': 'Mikrokosmos', 'WAB:the Enternal': 'Home'}

In [15]:
# Struktur data tuple
BG = ("2PM","Suju","EXO","NCT")
GG = ("SNSD","Fx","Red velvet","Aespa")

In [16]:
# Mengkonversi struktur data tuple
k_list = list(BG)
k_set = set(GG)
k_dict = dict(zip(BG, GG))

# Melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

['2PM', 'Suju', 'EXO', 'NCT']
{'Aespa', 'SNSD', 'Fx', 'Red velvet'}
{'2PM': 'SNSD', 'Suju': 'Fx', 'EXO': 'Red velvet', 'NCT': 'Aespa'}

In [17]:
# Struktur data set
S2 = {1, "Butter", True, 3+7j}
S3 = {"Dynamite", "My Universe", 11, 7+4j}

In [18]:
# Mengkonversi struktur data set
k_list = list(S2)
k_tuple = tuple(S2)
k_dict = dict(zip(S2, S3))

# Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[(3+7j), 1, 'Butter']
((3+7j), 1, 'Butter')
{(3+7j): 'Dynamite', 1: (7+4j), 'Butter': 11}

In [19]:
# Struktur data dictionary
D2 = {'lys Her':'mic drop',
      'lys Tear': 'magic shop',
      'lys Answer':'love myself'
      }
print(type(D2))
print('-'*20)

<class 'dict'>
--------------------

In [20]:
# Mengkonversi struktur data dictionary dari key dan value-nya
k_list = list(D2.keys())
k_tuple = tuple(D2.values())
k_set = set(D2.keys())

# Melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['lys Her', 'lys Tear', 'lys Answer']
('mic drop', 'magic shop', 'love myself')
{'lys Answer', 'lys Tear', 'lys Her'}